// body specific variables.
$application-body-padding-top: $s-9; // used for applying padding to body.
$application-body-padding-bottom: $s-9; // used for applying padding to body.
$application-body-bg: $c_black_normal;
$application-text-c: $c_white;

