/*===============
===== Blacks =====
===============*/
$c_black_normal:#001524;
$c_black_light:#747474;

/*===============
===== Blues =====
===============*/
$c_blue_dark: #001D59;
$c_blue_medium: #003488;
$c_blue_light: #0073CC;

/*================
===== Oranges =====
================*/
$c_orange_dark: #E05400;
$c_orange_normal: #FD8021;

/*================
===== Yellows=====
================*/
$c_yellow_normal: #FFD373;

/*===============
===== Whites =====
===============*/
$c_white:#fefdf8;