@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: "Poppins", sans-serif;

a {
    text-decoration: none;
    color: $c_white;
}

h2 {
    margin: $s-1 0;
}

h4 {
    margin: $s-1 0;
}

h3 {
    font-size: $s-4;
    font-weight: 600;
    margin: $s-3 0;
}

h4 {
    margin: $s-1 0;
    font-size: $s-2;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: $s-xs;
}