body {
	z-index: 0;
	height: auto;
	width: 100%;
	margin: 0;
	font-family: $font-family-sans-serif;
	//padding-top: $application-body-padding-top; 
	//padding-bottom: $application-body-padding-bottom;
	background: linear-gradient(180deg, #001524 0%, #000e18 100%);
	color: $application-text-c;
}

.container {
	margin-top: $s-7;
	padding: $s-8;
}

.fav-container {
	display: flex;
	flex-flow: column nowrap;
	height: 85%;

	.fav-header {
		flex-grow: 0;
		color: $c_orange_normal;
	}

	.fav-contents {
		flex-grow: 1;
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		justify-content: stretch;
		gap: $s-2;
	}
}

::-webkit-scrollbar {
	width: $s-1;
}
  
::-webkit-scrollbar-track {
	background: $c_black_normal;
}
  
::-webkit-scrollbar-thumb {
	background: $c_blue_dark;
}
  
::-webkit-scrollbar-thumb:hover {
	background: $c_blue_medium;
	cursor: pointer;
}