.movie-container {
    display: flex;
	flex-flow: column nowrap;
	gap: $s-4;
	height: 75%;

	.movie-header {
		flex-grow: 0;
	}

	.movie-contents {
		flex-grow: 1;
		display: flex;
		flex-flow: row nowrap;
		gap: $s-9;

        .movie-image {
            flex-basis: 40%;
            flex-grow: 1; 
            background-color: $c_blue_dark;
            box-shadow: 0px 3px 30px rgba(0, 7, 12, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                height: 100%;
            }
        }
        
        .movie-info {
            flex-basis: 60%;
            flex-grow: 2;
            display: flex;
		    flex-flow: column nowrap;
            gap: $s-3;

            .movie-info-header {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
            }

            .movie-info-data {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;

                .movie-button-unit {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: $s-2;
                    align-items: center;
                    justify-content: space-between;
                }

                .movie-data {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    gap: $s-6;
                }
            }
        }
	}
}