nav {
	position: fixed;
    width: -webkit-fill-available;
    top: 0;
	z-index: 50;
	height: auto;
	padding: $s-3 $s-8;
	display: flex;
	flex-flow: column nowrap;
}

.main-nav {
    width: 100%;
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.list-group {
    justify-self: flex-start;
    width: fit-content;
    height: fit-content;
    max-height: 500px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    margin-top: $s-4;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        .list-item {
            box-shadow: 0px 3px 10px rgba(0, 7, 12, 0.4);
            .list-group-item {
                background-color: $c_black_normal;
                border-top: 1px solid $c_blue_dark;
                border-bottom: 1px solid $c_blue_dark;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 100px;
                overflow: hidden;

                &:hover {
                    background-color: $c_blue_dark;
                    transition: 0.3s;
                }

                .list-group-img {
                    height: 100px;
                    width: $s-9;
                    overflow: hidden;
                    flex-grow: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 100px;
                    }
                }

                .list-group-title {
                    padding: $s-3 $s-4 $s-3 $s-3;
                    margin: 0;
                    flex-grow: 1;
                }
            }
        }
    }
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    gap: $s-3;
}

.logo {
    font-size: $s-4;
    font-weight: 200;
}

#hamburger {
    position: relative;
    width: $s-4;
    height: $s-5;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

#hamburger span {
    position: absolute;
    width: 100%;
    height: $s-xs;
    background-color: $c_orange_normal;
    left: 0;
    border-radius: $s-xs;
    transition: 225ms;
}

#hamburger span:nth-child(1) {
    top: 10%;
    width: 50%;
}

#hamburger span:nth-child(2) {
    top: 50%;
}

#hamburger span:nth-child(3) {
    bottom: 5%;
    width: 50%;
    left: 50%;
}

#hamburger.active span:nth-child(1) {
    top: calc(25% - 4px);
    left: 2px;
    transform: rotate(225deg);
}


#hamburger.active span:nth-child(2) {
    transform: rotate(-45deg);
}


#hamburger.active span:nth-child(3) {
    left: calc(26px);
    bottom: calc(25% - 5px);
    transform: rotate(225deg);
}
