<a href="movie" class="card">
	<div class="card-up">
		<button href="#" class="btn btn_icon btn_square" onclick=""><i class="fas fa-heart"></i></i></button>
	</div>
	<div class="card-down">
		<h3>Movie Title</h3>
		<div class="card-info">
			<small><i class="far fa-clock"></i> 2h30</small>
			<button href="#" class="btn btn_secundary btn_small"><i class="far fa-check"></i> Visto</button>
		</div>
	</div>
</a>
