.btn {
    box-shadow: none;
    border: none;
    border-radius: $s-0;
    display: flex;
    flex-flow: row wrap;
    gap: $s-0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
}

.btn_normal {
    padding: $s-1 $s-3;
    min-height: $s-6;
    font-size: $s-3;
    height: fit-content;
    width: fit-content;
}

.btn_small {
    padding: $s-0;
    min-height: $s-4;
    font-size: $s-2;
    height: fit-content;
    width: fit-content;
}

.btn_square {
    height: $s-6;
    padding: $s-0;
    width: $s-6;
    font-size: $s-4;
}

.btn_primary {
    color: $c_orange_normal;
    background-color: rgba(255, 211, 115, 0.3);

    &:hover {
        transition: 0.3s;
        background-color: $c_orange_dark;
        color: $c_white;
    }
}

.btn_secundary {
    color: $c_white;
    border: $s-xs solid rgba(255,255,255, 0.4);
    background: none;

    &:hover {
        transition: 0.3s;
        border-color: $c_white;
        color: $c_orange_normal;
    }
}

.btn_icon {
    color: $c_yellow_normal;
    background: none;

    &:hover {
        transform: scale(1.3);
        opacity: 0.8;
        transition: 0.3s;
    }
}