app-card {
    background-color: $c_blue_dark;
    background-position: center center;
    background-size: auto 100%;
    flex-grow: 1;
    flex-basis: 20%;
    height: 100%;
    
    display: flex;
    margin: 0;
    padding: 0;
    box-shadow: 0px 3px 10px rgba(0, 7, 12, 0.4);

    &:hover {
        transform: scale(1.15);
        transition: 0.3s;
        box-shadow: 0px 3px 30px rgba(0, 7, 12, 0.6);
    }

    .card {
        background: linear-gradient(180deg, rgba(0,29,89,0.65) 0%, rgba(0,29,89,0.25) 50%, rgba(0,29,89,0.85) 100%);
        width: 100%;
        margin: 0;
        padding: $s-3;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        &:hover {
            background-color: rgba(0, 29, 89, 0.5);
            transition: 0.3s;
        }
        
        .card-up {
            display: flex;
            justify-content: end;
        }

        .card-down {
            display: flex;
            flex-flow: column nowrap;

            .card-info {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}