.checkbox {
	& input[type=checkbox] {
		display: none; // hiding checkbox
		& + label:before {
			font-family: 'FontAwesome';
			display: inline-block;
			content: " ";
			height: $app-checkbox-height;
			width: $app-checkbox-width;
			background-color: $app-checkbox-background-color;
			margin-right: $app-checkbox-right-margin;
			vertical-align: middle;
			border-radius: $app-checkbox-border-radius;
			border: $app-checkbox-border;
		};
		&:checked + label:before {
			content: "\f00c";
			background-color: $c_blue_light;
			padding-left: $app-checkbox-checked-padding-left;
			color: $app-checkbox-checked-color;
			border: $app-checkbox-checked-border;
		};
	};
};
