.search-field {
    display: flex;
    flex-flow: row nowrap;
    gap: $s-2;
    align-items: center;

    i {
        color: $c_orange_normal;
    }
}


input {
    min-width: 300px;
    height: $s-6;
    background: none;
    color: $c_white;
    font-size: $s-3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: $s-xs solid $c_orange_normal; 
    border-radius: 0;
}

input::placeholder {
    font-size: $s-3;
    color: $c_black_light;
}

input:focus-visible {
    outline: none;
}