<script src="../header/index.js"></script>
<div class="container fav-container">
	<div class="fav-header">
		<h4>My Favorites</h4>
	</div>
	<div class="fav-contents">
		<app-card style="background-image: url('./assets/m1.jpg')"></app-card>
		<app-card style="background-image: url('./assets/m2.jpg')"></app-card>
		<app-card style="background-image: url('./assets/m3.jpg')"></app-card>
		<app-card style="background-image: url('./assets/m4.jpg')"></app-card>
		<app-card style="background-image: url('./assets/m5.jpeg')"></app-card>
		<app-card style="background-image: url('./assets/m6.jpg')"></app-card>
	</div>
</div>
