<script src="index.js"></script>
<nav ng-controller="searchController as model">
	<div class="main-nav">
		<div class="search">
			<div class="search-field">
				<i class="fa fa-search"></i>
				<input
					ng-model="title"
					type="text"
					placeholder="Search by title, year or IMDB"
				/>
				<button
					ng-click="model.searchByTitle(title)"
					class="btn btn_primary btn_normal"
				>
					Search
				</button>
			</div>
			
		</div>
		<div class="menu">
			<div class="logo">
				<a href="/">TOO<b>FLIX</b></a>
			</div>
			<button id="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
	<div class="list-group">
		<ul>
			<a class="list-item" href="movie">
				<li
					ng-repeat="movie in model.movies"
					class="list-group-item"
					ng-click="model.searchMovieByImdbID(movie.imdbID)"
				>
					<div class="list-group-img">
						<img ng-src="{{movie.Poster}}" />
					</div>
					<h5 class="list-group-title">{{movie.Title}}</h5>
				</li>
			</a>
		</ul>
	</div>
</nav>

<!--<div>
	<h2>{{model.movie.Title}}</h2>
	<img ng-src="{{model.movie.Poster}}" width="250px" />
	<h4>Director: {{model.movie.Director}}</h4>
	<p>Year: {{model.movie.Year}}</p>
	<p>Genre: {{model.movie.Genre}}</p>
	<p>Cast: {{model.movie.Actors}}</p>
	<p>Plot: {{model.movie.Plot}}</p>
	<p>IMDB rating: {{model.movie.imdbRating}}/10</p>
</div>-->