<script src="index.js"></script>
<div class="container movie-container">
	<div class="movie-header">
		<a href="/" class="btn btn_small btn_secundary"><i class="far fa-arrow-left"></i> Back Home</a>
	</div>
	<div class="movie-contents" ng-controller="movieDetailsController as model">
		<div class="movie-image">
			<img ng-src="{{model.movie.Poster}}" alt="Movie Poster">
		</div>
		<div class="movie-info">
			<div class="movie-info-header">	
				<h1>{{model.movie.Title}}</h1>
				<button class="btn btn_primary btn_normal"><i class="far fa-film"></i> Watch Now</button>
			</div>
			<div class="movie-info-data">
				
				<div class="movie-data">
					<div class="movie-data-unit">
						<h4>Year</h4>
						<h2>{{model.movie.Year}}</h2>
					</div> 
					<div class="movie-data-unit">
						<h4>Duration</h4>
						<h2><i class="far fa-clock"></i> {{model.movie.Runtime}}</h2>
					</div>
					<div class="movie-data-unit">
						<h4>IMDb Score</h4>
						<h2>{{model.movie.imdbRating}} <small style="font-weight:200;">/ 10</small></h2>
					</div>
				</div>
				<div class="movie-button-unit">
					<button href="#" class="btn btn_icon btn_square" onclick=""><i class="fas fa-heart"></i></i></button>
					<button href="#" class="btn btn_secundary btn_small"><i class="far fa-check"></i> Visto</button>
					<button href="#" class="btn btn_secundary btn_small"><i class="far fa-play-circle"></i> Watch Trailer</button>
				</div>
			</div>
			<div class="movie-description">
				<p>{{model.movie.Plot}}</p>
			</div>
		</div>
	</div>
</div>
